package com.quigley;

public class Version {
	public final static String VERSION = "Foundation, Version 1.0.0 (Revision: ${buildRevision})";
	public final static String BUILT = "Built on ${buildStamp} by ${buildHost}";
	public final static String COPYRIGHT = "Copyright 2008 Michael F. Quigley Jr.";
}
